<template>
  <div class="index row" id="index">
    <div class="row">
      <div class="col s12 m6">
        <div class="seach-filter">
          <i class="material-icons search-icon">search</i>
          <div class="input-field inline search-field">
            <input type="text" name="search topics." class="search-box" placeholder="Search Topic..." v-model="searchTerm">
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 cards-container">
      <div class="no-results valign-wrapper grey-text text-darken-2">
        <h4 v-if="!filterVids.length"><i class="material-icons small align">warning</i><span> No results.</span></h4>
        <p v-if="filterVids.length" class="results-count">Total Videos: <span>{{ itemsCount }}</span></p>
      </div>
      <div class="row">
        <div class="col s12 m6 l4" v-for="video in filterVids" :key="video.id">
          <VidCard :video="video" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VidCard from '@/components/VidCard'

export default {
  name: 'Index',
  components: {
    VidCard
  },
  data () {
    return {
      videos: [
        {
          title: 'Business Value Monitoring', slug: 'gitlab-vsm', vidID: 'oG0VESUOFAI', id: '1', tags: ['VSM', 'Analytics'], description: 'GA demonstration of how GitLab can help with optimizing the value stream by monitoring business values in context of software changes.'
        },
        {
          title: 'High Availability & Geo', slug: 'gitlab-ha', vidID: 'fji7nvmOHNQ', id: '2', tags: ['HA', 'DR', 'Geo'], description: 'GitLab Solutions Architect Brian Wald highlights the components and available architectures of GitLab\'s High Availability and Geo features.'
        },
        {
          title: 'Gitlab Security', slug: 'gitlab-security', vidID: 'SP0VSH-NqJs', id: '3', tags: ['Security', 'AutoDevOps'], description: 'GitLab Solutions Architect David Astor covers the GitLab offerings of SAST, DAST, License Management, Dependency Scanning and more.'
        },
        {
          title: 'Gitlab Services', slug: 'gitlab-security', vidID: 'FmimIGNR2S4', id: '4', tags: ['Services', 'Support'], description: 'GitLab Solutions Architect Victor Hernandez walks through GitLab\'s most popular services and the reasons why they are frequently utilized.'
        },
        {
          title: 'Gitlab Integration', slug: 'gitlab-security', vidID: 'OndV_q6DK_s', id: '5', tags: ['API', 'Integration'], description: 'GitLab Solutions Architect Mark Cesario demonstrates an integration use case using IBM Cloud Delivery with GitLab.'
        },
        {
          title: 'Migrating from GitHub to GitLab', slug: 'github-gitlab-migration', vidID: 'VYOXuOg9tQI', id: '6', tags: ['Migration'], description: 'In this video, we look at the process for migrating projects from GitHub to GitLab.'
        },
        {
          title: 'Migrating from Jenkins to GitLab', slug: 'jenkins-gitlab-migration', vidID: 'RlEVGOpYF5Y', id: '7', tags: ['Migration'], description: 'In this video, we look at the process for migrating pipelines from Jenkins to GitLab'
        },
        {
          title: 'Issue Boards for Mapping', slug: 'issue-boards-vsm', vidID: '9ASHiQ2juYY', id: '8', tags: ['VSM', 'Analytics'], description: 'A short demonstration of how GitLab can use Issue Boards to represent a value stream, and how Cycle Analytics can be used to optimize the value stream.'
        },
        {
          title: 'Namespaces (users, groups and subgroups)', slug: 'namespaces-users-groups', vidID: 'r0sJgjR2f5A', id: '9', tags: ['Permissions', 'Groups'], description: 'This video will explain the concept of namespaces in GitLab which are used to store projects.  Groups, subgroups and their uses are discussed.'
        }
      ],
      searchTerm: ''
    }
  },
  computed: {
    filterVids () {
      return this.videos.filter(videos => {
        return videos.title.toLowerCase().match(this.searchTerm.toLowerCase()) ||
        videos.description.toLowerCase().match(this.searchTerm.toLowerCase())
      })
    },
    itemsCount () {
      return this.filterVids.length
    }
  }
}
</script>

<style>

.index h2 {
  font-size:1.8em;
  text-align: center;
  margin-top:0;
}
.index .video-tags {
  margin:30px auto;
}

.index .video-tags li {
  display:inline-block;
}

.index.row {
  padding:20px;
}

</style>
