<template>
  <div id="app">
 <Slideout menu="#menu" panel="#panel" :toggleSelectors="['.toggle-button']" @on-open="logger">
        <Menu />    
    <main id="panel">
      <Navbar />
      <div class="container main-container">
        <router-view/>
      </div>
    </main>
</Slideout>
  </div>
</template>

<script>
import Slideout from 'vue-slideout'
import Navbar from '@/components/Navbar'
import Menu from '@/components/Menu'

export default {
  name: 'app',
  components: {
    Navbar,
    Slideout,
    Menu
  },
  methods: {
    logger: function () {
      console.log('open event')
    }
  }
}
</script>

<style>

</style>
